.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a76bd;
}

.nav li {
    float: left;
    color: #fff;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: #1f4e7b;
}

.nav li:last-child {
    right: 0;
    position: absolute;
}

.nav li:nth-child(4) {
    right: 150px;
    position: absolute;
}