.login-container {
    max-width: 500px;
    margin: 50px auto 0 auto;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}

.button-login {
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-login:hover {
    background-color: #0056b3;
}