body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.center {
  text-align: center;
}

ul {
  columns: 3 auto;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
}

.avatar-big {
  height: 200px;
  margin: auto;
  display: block;
}

.login-label {
  font-weight: 600;
}